:root {
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
  
html, body {
    height: 100%;
}
  
body {
    margin: 0;
    display: flex;
    flex-flow: column;
}
  
#center {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
  
#top, #bottom {
    background-color: black;
    height: 25%;
}
  
#player {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: aliceblue;
    position: absolute;
}
