body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 20px;
}

:root {
  --lado: 60px;
}

w {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: scaleY(.5) rotate(45deg);
  border: 4px solid red;
}

p {
  position: absolute;
}

b {
  position: absolute;
  display: block;
  width: var(--lado);
  height: var(--lado);
  background: red;
  font-size: 18px;
  font-weight: normal;
}

s {
  position: absolute;
  display: block;
  /* background: rgba(255,0,0,.5); */
  background-size: 200%;
  width: var(--lado);
  height: var(--lado);
  image-rendering: pixelated;
  transform:
    rotate(-45deg)
    translate(calc(var(--lado) * -0), calc(var(--lado) * -.7))
    scale(1.415, 2.85);
}
