* {
  position: relative;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#map {
  position: absolute;
  width: 100vw;
  height: 50vw;
  background: linear-gradient(blue, cyan);
  overflow: hidden;
}

#map * {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
}

b {
  background: #444;
}

p {
  background: yellow;
}
